---
import "@fontsource/gabarito";
import BaseLayout from "./BaseLayout.astro";
import AppProse from "../components/app/Prose.astro";
const { frontmatter } = Astro.props;
import themeConfig from "@util/themeConfig";
import { Icon } from "astro-icon/components";
const siteTitle = themeConfig.general.title;
const title = frontmatter?.title || siteTitle;
const link = frontmatter?.link;
const instagram = frontmatter?.instagram;
const phone = frontmatter?.phone;
const location = frontmatter?.location;
const description = frontmatter?.description;
const linkText = link?.replace(/^.*/, "");
const instagramText = instagram?.replace(/^.*/, "");
const phoneText = phone?.replace(/^.*/, "");
const locationText = location?.replace(/^.*/, "");
---

<BaseLayout>
  <div class="max-w-2xl w-full mx-auto py-20 px-8">
    <div class="mb-10">
      <div class="flex justify-between items-center">
        <h1 class="font-bold text-4xl">{title}</h1>
      </div>
      <p class="text-gray-600 mt-2.5 mb-2.5">{description}</p>

      <p class="mt-5 mb-2.5 flex flex-wrap gap-4 place-content-center">
        {
          link && (
            <a class="inline-flex items-center gap-1 font-medium px-2.5 py-1 border-2 border-black rounded" href={link} target="_blank" rel="noopener noreferrer">
              {linkText}
              <Icon name="tabler:link" size="25px" title="website" />Website
            </a>
          )
        }
        {
          instagram && (
            <a class="inline-flex items-center gap-1 font-medium px-2.5 py-1 border-2 border-black rounded" href={instagram} target="_blank" rel="noopener noreferrer">
              {instagramText}
              <Icon name="lineicons:instagram" size="25px" title="instagram" />Instagram
            </a>
          )
        }
        {
          phone && (
            <a class="inline-flex items-center gap-1 font-medium px-2.5 py-1 border-2 border-black rounded" href={phone}>
              {phoneText}
              <Icon name="tabler:phone" size="25px" title="phone" />Call Now
            </a>
          )
        }
        {
          location && (
            <a class="inline-flex items-center gap-1 font-medium px-2.5 py-1 border-2 border-black rounded" href={location} target="_blank" rel="noopener noreferrer">
              {locationText}
              <Icon name="tabler:location" size="25px" title="location" />Directions
            </a>
          )
        }
      </p>
    </div>

    <AppProse>
      <slot />
    </AppProse>
  </div>
</BaseLayout>
