---
import "@fontsource/gabarito";
import BaseLayout from "./BaseLayout.astro";
import AppProse from "../components/app/Prose.astro";
const { frontmatter } = Astro.props;
import themeConfig from "@util/themeConfig";
import { Icon } from "astro-icon/components";
const siteTitle = themeConfig.general.title;
const title = frontmatter?.title || siteTitle;
const link = frontmatter?.link;
const instagram = frontmatter?.instagram;
const facebook = frontmatter?.facebook;
const youtube = frontmatter?.youtube;
const phone = frontmatter?.phone;
const eastphone = frontmatter?.eastphone;
const westphone = frontmatter?.westphone;
const dearbornphone = frontmatter?.dearbornphone;
const warrenphone = frontmatter?.warrenphone;
const schaeferphone = frontmatter?.schaeferphone;
const heightsphone = frontmatter?.heightsphone;
const storefrontphone = frontmatter?.storefrontphone;
const truckphone = frontmatter?.truckphone;
const apple = frontmatter?.apple;
const google = frontmatter?.google;
const dearbornlocation = frontmatter?.dearbornlocation;
const warrenlocation = frontmatter?.warrenlocation;
const schaeferlocation = frontmatter?.schaeferlocation;
const heightslocation = frontmatter?.heightslocation;
const eastlocation = frontmatter?.eastlocation;
const westlocation = frontmatter?.westlocation;
const storefront = frontmatter?.storefront;
const truck = frontmatter?.truck;
const description = frontmatter?.description;
const linkText = link?.replace(/^.*/, "");
const instagramText = instagram?.replace(/^.*/, "");
const facebookText = facebook?.replace(/^.*/, "");
const youtubeText = youtube?.replace(/^.*/, "");
const phoneText = phone?.replace(/^.*/, "");
const dearbornphoneText = dearbornphone?.replace(/^.*/, "");
const warrenphoneText = dearbornphone?.replace(/^.*/, "");
const schaeferphoneText = schaeferphone?.replace(/^.*/, "");
const heightsphoneText = heightsphone?.replace(/^.*/, "");
const eastphoneText = eastphone?.replace(/^.*/, "");
const westphoneText = westphone?.replace(/^.*/, "");
const storefrontphoneText = storefrontphone?.replace(/^.*/, "");
const truckphoneText = truckphone?.replace(/^.*/, "");
const appleText = apple?.replace(/^.*/, "");
const googleText = google?.replace(/^.*/, "");
const dearbornlocationText = dearbornlocation?.replace(/^.*/, "");
const warrenlocationText = dearbornlocation?.replace(/^.*/, "");
const schaeferlocationText = schaeferlocation?.replace(/^.*/, "");
const heightslocationText = heightslocation?.replace(/^.*/, "");
const eastlocationText = eastlocation?.replace(/^.*/, "");
const westlocationText = westlocation?.replace(/^.*/, "");
const storefrontText = storefront?.replace(/^.*/, "");
const truckText = truck?.replace(/^.*/, "");
---

<BaseLayout>
  <div class="max-w-2xl w-full mx-auto py-20 px-8">
    <div class="mb-10">
      <div class="flex justify-between items-center">
        <h1 class="font-bold text-4xl">{title}</h1>
      </div>
      <p class="text-gray-600 mt-2.5 mb-2.5">{description}</p>

      <div class="relative mt-5 mb-2.5">
        <!-- Left Arrow -->
        <div id="left-arrow" class="hidden absolute -left-6 top-1/2 transform -translate-y-1/2 bg-primary-500 p-2 rounded-full shadow-lg cursor-pointer">
          <Icon name="tabler:arrow-left" color="white" size="15px" title="left" />
        </div>
      
        <!-- Scrollable Content -->
        <div id="scrollable-content" class="overflow-x-auto whitespace-nowrap hide-scrollbar">
          <div class="inline-flex gap-4">
        {
          link && (
            <a class="inline-flex items-center gap-1 font-medium px-2.5 py-1 border-2 border-black rounded" href={link} target="_blank" rel="noopener noreferrer">
              {linkText}
              <Icon name="tabler:link" size="25px" title="website" />Website
            </a>
          )
        }
        {
          instagram && (
            <a class="inline-flex items-center gap-1 font-medium px-2.5 py-1 border-2 border-black rounded" href={instagram} target="_blank" rel="noopener noreferrer">
              {instagramText}
              <Icon name="lineicons:instagram" size="25px" title="instagram" />Instagram
            </a>
          )
        }
        {
          facebook && (
            <a class="inline-flex items-center gap-1 font-medium px-2.5 py-1 border-2 border-black rounded" href={facebook} target="_blank" rel="noopener noreferrer">
              {facebookText}
              <Icon name="tabler:brand-facebook" size="25px" title="facebook" />Facebook
            </a>
          )
        }
        {
          youtube && (
            <a class="inline-flex items-center gap-1 font-medium px-2.5 py-1 border-2 border-black rounded" href={youtube} target="_blank" rel="noopener noreferrer">
              {youtubeText}
              <Icon name="tabler:brand-youtube" size="25px" title="youtube" />YouTube
            </a>
          )
        }
        {
          phone && (
            <a class="inline-flex items-center gap-1 font-medium px-2.5 py-1 border-2 border-black rounded" href={phone}>
              {phoneText}
              <Icon name="tabler:phone" size="25px" title="phone" />Call Now
            </a>
          )
        }
        {
          apple && (
            <a class="inline-flex items-center gap-1 font-medium px-2.5 py-1 border-2 border-black rounded" href={apple} target="_blank" rel="noopener noreferrer">
              {appleText}
              <Icon name="tabler:navigation" size="25px" title="apple maps" />Apple Maps
            </a>
          )
        }
        {
          google && (
            <a class="inline-flex items-center gap-1 font-medium px-2.5 py-1 border-2 border-black rounded" href={google} target="_blank" rel="noopener noreferrer">
              {googleText}
              <Icon name="tabler:map-pin" size="25px" title="google" />Google Maps
            </a>
          )
        }
        {
          dearbornphone && (
            <a class="inline-flex items-center gap-1 font-medium px-2.5 py-1 border-2 border-black rounded" href={dearbornphone}>
              {dearbornphoneText}
              <Icon name="tabler:phone" size="25px" title="phone" />Dearborn
            </a>
          )
        }
        {
          dearbornlocation && (
            <a class="inline-flex items-center gap-1 font-medium px-2.5 py-1 border-2 border-black rounded" href={dearbornlocation} target="_blank" rel="noopener noreferrer">
              {dearbornlocationText}
              <Icon name="tabler:location" size="25px" title="location" />Dearborn
            </a>
          )
        }
        {
          eastphone && (
            <a class="inline-flex items-center gap-1 font-medium px-2.5 py-1 border-2 border-black rounded" href={eastphone}>
              {eastphoneText}
              <Icon name="tabler:phone" size="25px" title="phone" />East Dearborn
            </a>
          )
        }
        {
          eastlocation && (
            <a class="inline-flex items-center gap-1 font-medium px-2.5 py-1 border-2 border-black rounded" href={eastlocation} target="_blank" rel="noopener noreferrer">
              {eastlocationText}
              <Icon name="tabler:location" size="25px" title="location" />East Dearborn
            </a>
          )
        }
        {
          westphone && (
            <a class="inline-flex items-center gap-1 font-medium px-2.5 py-1 border-2 border-black rounded" href={westphone}>
              {westphoneText}
              <Icon name="tabler:phone" size="25px" title="phone" />West Dearborn
            </a>
          )
        }
        {
          westlocation && (
            <a class="inline-flex items-center gap-1 font-medium px-2.5 py-1 border-2 border-black rounded" href={westlocation} target="_blank" rel="noopener noreferrer">
              {westlocationText}
              <Icon name="tabler:location" size="25px" title="location" />West Dearborn
            </a>
          )
        }
        {
          heightsphone && (
            <a class="inline-flex items-center gap-1 font-medium px-2.5 py-1 border-2 border-black rounded" href={heightsphone}>
              {heightsphoneText}
              <Icon name="tabler:phone" size="25px" title="phone" />Dearborn Heights
            </a>
          )
        }
        {
          heightslocation && (
            <a class="inline-flex items-center gap-1 font-medium px-2.5 py-1 border-2 border-black rounded" href={heightslocation} target="_blank" rel="noopener noreferrer">
              {heightslocationText}
              <Icon name="tabler:location" size="25px" title="location" />Dearborn Heights
            </a>
          )
        }
        {
          storefrontphone && (
            <a class="inline-flex items-center gap-1 font-medium px-2.5 py-1 border-2 border-black rounded" href={storefrontphone}>
              {storefrontphoneText}
              <Icon name="tabler:phone" size="25px" title="phone" />Storefront
            </a>
          )
        }
        {
          storefront && (
            <a class="inline-flex items-center gap-1 font-medium px-2.5 py-1 border-2 border-black rounded" href={storefront} target="_blank" rel="noopener noreferrer">
              {storefrontText}
              <Icon name="tabler:location" size="25px" title="location" />Storefront
            </a>
          )
        }
        {
          truckphone && (
            <a class="inline-flex items-center gap-1 font-medium px-2.5 py-1 border-2 border-black rounded" href={truckphone}>
              {truckphoneText}
              <Icon name="tabler:phone" size="25px" title="phone" />Truck
            </a>
          )
        }
        {
          truck && (
            <a class="inline-flex items-center gap-1 font-medium px-2.5 py-1 border-2 border-black rounded" href={truck} target="_blank" rel="noopener noreferrer">
              {truckText}
              <Icon name="tabler:location" size="25px" title="location" />Truck
            </a>
          )
        }
      </div></div>
      <div id="right-arrow" class="hidden absolute -right-6 top-1/2 transform -translate-y-1/2 bg-primary-500 p-2 rounded-full shadow-lg cursor-pointer">
        <Icon name="tabler:arrow-right" color="white" size="15px" title="right" />
      </div>
    </div>
    <p class="mt-10" />
    <AppProse>
      <slot />
    </AppProse>
  </div>
</BaseLayout>

<style>
  .hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
</style>
<script is:inline>
  document.addEventListener('DOMContentLoaded', function () {
    const scrollableContent = document.getElementById('scrollable-content');
    const leftArrow = document.getElementById('left-arrow');
    const rightArrow = document.getElementById('right-arrow');

    // Initial check to hide arrows if not needed
    function checkScrollState() {
      const canScrollLeft = scrollableContent.scrollLeft > 0;
      const canScrollRight = scrollableContent.scrollLeft + scrollableContent.clientWidth < scrollableContent.scrollWidth;
      
      leftArrow.classList.toggle('hidden', !canScrollLeft);
      rightArrow.classList.toggle('hidden', !canScrollRight);
    }

    // Run the check initially
    checkScrollState();

    scrollableContent.addEventListener('scroll', checkScrollState);

    leftArrow.addEventListener('click', function () {
      scrollableContent.scrollBy({
        left: -200, // Adjust the scroll distance as needed
        behavior: 'smooth'
      });
    });

    rightArrow.addEventListener('click', function () {
      scrollableContent.scrollBy({
        left: 200, // Adjust the scroll distance as needed
        behavior: 'smooth'
      });
    });
  });
</script>